@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #46fdae;
}

@theme{
    --font-display: "Aeonic", sans-serif;
    --color-primary: var(--primary)

}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

}


@font-face {
    font-family: Aeonic;
    font-weight:  400;
    font-display: swap;
    src: url("/fonts/Aeonik-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Aeonic;
    font-weight: 600 ;
    font-display: swap;
    src: url("/fonts/Aeonik-Medium.woff2") format("woff2");
}

@font-face {
    font-family: Aeonic;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Aeonik-Bold.woff2") format("woff2");
}


body {
    background: var(--background);
    color: var(--foreground);
    font-family: Aeonic, sans-serif;
}

.hero{
    background-size: cover;
    background: url("../public/assets/images/hero-bg.webp") center;
}

.stats{
    background-size: cover;
    background: url("../public/assets/images/home-hero-narrow-graphic.webp") center;
}